* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "PT Sans";
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 35px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
    z-index: 100;
}

.qr-wsp {
    width: 100px;
    height: 100px;
    line-height: 55px;
    top: 120px;
    right: 35px;
}

.btn-arriba {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    left: 35px;
    background: #36B9CC;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    padding: 10px;
    color:#5788A6;
    justify-content: space-between;  
}

.logo {
    display: flex;
    width: 80%;  
}

.boxes {
    display: flex;
    gap: 15px;   
}

.boxes a {
    text-decoration: none;
    color: inherit;
}

.datoscontacto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    align-items: flex-end;
}

.box-contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    padding-top: 15px;
}

.btn-hora {
    height: 45px;
    width: 130px;
    margin: 40px 0;
    background-color: #36B9CC;
    color: #fff;
    font-weight: 500;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.04);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0s ease-out;
    box-shadow: 0px 5px 4px 0px #377174;
    padding-left: 3px;
    font-size: 13px;
}

.btn-hora:active {
    top: 3px;
}

.btn-hora i {
    padding-top: 5px;
}

.btn-hora a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 7px 3px;
}


/*BARRA NAVEGACION*/

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFD37D ;
    list-style: none;  
    height: 40px;
}

.menu a{
   text-decoration: none;
   padding: 20px;
   color: white;
}

.barra-menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 10px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    overflow:auto;
    background-color: #FFD37D;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4); 
    z-index: 1000;  
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #ffffff;
    background-color: #36B9CC;
}

/*Principal*/
main {
   
    /* background-image: url(../imgs/animales2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;   */
}



/*Ventan Emergente*/
#popup {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}

.windowContent {
    /*background: #fff;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../imgs/ktr2.JPG);
    background-color: black;*/
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}

.windowContent::before {
    text-decoration-color: white;
}

.windowText {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px gray;
}

.windowClose {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    border: solid 1px gray;
    border-radius: 50%;
    
}

.windowClose a {
    text-decoration: none;
    color: #fff;
}



/*Seccion Nosotros*/
.nosotros {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 25px 15px ;
    color:#5788A6;
    justify-content: space-between;
    gap: 10px;
    background-color: #BAD5E6;
}


.nosotros h2 {
    padding-bottom: 5px;
    text-align: center;
}

.nosotros img {
    width: 100%;
    padding-top: 10px;
}

/*Especialidades*/
.especialidades {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding: 25px 15px;
    
}

.cards {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.especialidades h2 {
    text-align: center;
    color:#377174;
}

.cards img {
    width: 100%;
    object-fit: contain;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px
}

.cards img:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
}

.card1 h3 {
    display: flex;
    justify-content: center;
    padding: 5px;
    color:#377174;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(214, 212, 212);
    padding: 20px 0;
    border-radius: 4%;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.254);
    
}

.card1 a {
    text-decoration: none;
}


/*Equipo*/
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 15 px;
    background-color: #BAD5E6;
}

.team h2 {
    text-align: center;
    color: #377174;
    padding-top: 20px;
}

.perfil {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.perfil-team {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
    color: #377174;
    text-align: center;
    border: solid 1px rgb(214, 212, 212);
    border-radius: 4%;
    margin-top: 15px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.254);
    background-color: #ffffff;
}
.perfil-team img {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    object-fit: contain;
    padding-left: 10px;
    padding-right: 10px
}

.perfil-team p {
    padding-top: 3px;
}

/*Horario de atencion*/
.horario-footer {
    text-align: center;
    color: white;
    font-size: small;
    padding: 10px;
    background-color:#5788A6   
}

.horarios {
    padding-top: 5px;
}


/*Como llegar*/
.ubicacion {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    color: #377174;
}

/*Pie de pagina*/
footer {
    color: white;
    justify-content: space-between;
}

.info-footer {
    display: flex;
    justify-content: center;
    font-size: small;
    padding: 10px;
    background-color:#5788A6
}

.contact-footer {
    text-align: center;
    
}

.datos {
    padding-top: 5px;  
}

.phone {
    text-decoration: none;
}



.contact-footer h4 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.contact-footer i {
    margin-right: 5px;
}

.horario-footer h4 {
    padding-bottom: 10px;
    padding-top: 15px;
}

.social-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BAD5E6;
    color: #5788A6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-footer p {
    padding-top: 10px;  
    text-align: center;
}

.redes-sociales a {
    padding: 3px;
}

.redes-sociales i {
    color: #5788A6;
}

.btn-waze {
    text-decoration: none;
    color: black;
}

.btn-waze i {
    padding-top: 8px;
    background: lightblue;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}


/*Version mobile*/
@media (max-width: 576px) {
    main {
        display: none;
    }

    .qr-wsp {
        display: none;
    }
    .texto-QR {
        display: none;
    }

    .texto-contacto {
        display: none;
    }
    .btn {
        display: none;
    }
    .imagen-footer {
        display: none;
    }
    .menu-lateral {
        display: none;
    }   
}

/*Version Tablet*/
@media (min-width: 576px) {
    
    .btn-hora {
        display: none;
    }
    .btn-wsp {
        display: none;
    }

    .btn-arriba {
        display: none;
    }

    .btn-waze {
        display: none;
    }

    .texto-contacto-movil {
        display: none;
    }
    
    .dropdown {
        display: none;
    }

    .datos-QR {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-lateral{
        display: flex;  
    }

    .mainmenubtn {
        background-color: #FFD37D;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-family: "PT Sans";
    }
    
    .dropdown2 {
        position:relative;
        display: inline-block;
    }
    
    .dropdown-child {
        display: none;
        position: absolute;
        min-width: 300px;
        overflow:auto;
        background-color: #FFD37D;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4); 
        z-index: 1000; 
    }

    .dropdown-child a {
        color: white;
        padding: 20px;
        text-decoration: none;
        display: block;
    }

    .dropdown-child a:hover {
        background-color:#36B9CC;
    }
    
    .dropdown2:hover .dropdown-child {
        display: block;
    }

    .descripcion-texto {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .descripcion-texto img {
        width: 100%;
        max-width: 750px;
    }

    .texto {
        
        font-size: 20px;
        
    }

    .nosotros div {
        text-align: center;
    }

    .nosotros img {
        width: 50%;
        min-width: 250px;
        padding-top: 30px;
        float: right;
        margin-left: 30px;
    }

    .nosotros p {
        
        padding: 20px;
        font-size: 20px;
        text-align: justify;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .perfil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .perfil-team img {
        height: 300px;
    }


    .info-footer {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        align-items: center;
    }

    .horario-footer {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .imagen-footer {
    display: flex;
    justify-content: center;
    }

    .imagen-footer img {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    }  
    
    .contact-footer {
        padding-left: 20px;
    }

    .horario-footer {
        padding-right: 20px;
    }
    
    .redes-sociales i {
        padding: 5px 10px;
    }
}

/*Version Desktop*/
@media (min-width: 992px) {
    .btn-wsp {
        display: none;
    }

    .datoscontacto {
        padding-top: 15px;
    }
    .boxes i {
        padding-right: 20px;
    }
    .box-contacto {
        font-size: 18px;
    }
    
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .perfil {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .nosotros img {
        width: 40%;
        max-width: 450px;
    }

    .perfil-team img {
        height: 300px;
    }
}


/*Pagina especialidades*/

.terapia {
    padding: 10px;
}

.terapias h1 {
    text-align: left;
    padding: 30px;
    color:#5788A6;
}

.home-terapias p {
    text-align: justify;
    padding: 10px;
    color: #5788A6;   
}

.home-terapias h4 {
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    color: #5788A6;
}

.terapia h2 {
    text-align: center;
    color:#5788A6;
    padding: 20px;
    margin-top: 30px;
}

.terapia img {
    width: 100%;
    padding-top: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.terapia img:hover {
    filter: grayscale(80%)  
}

.texto-terapia {
    text-align: justify;
    color:#5788A6;
    padding: 15px;
}

.texto-terapia h4 {
    padding: 20px 0 10px;
}

.texto-terapia p {
    padding: 10px;
}

.ados {
    background-color: #BAD5E6;
    border-radius: 10px;
    margin-bottom: 5px;
}

.wisc {
    background-color: #FFD37D;
    border-radius: 10px;
    
}

.info-footer {
    font-size: small;
}


/*version desktop Especialidades*/
@media (min-width: 576px) {
    .btn-wsp {
        display: none;
    }
    .home-terapias {
        background-image: url(../imgs/animales2.png);
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 20px;
        padding: 15px 20px 30px;
    }

    .home-terapias p {
        color: white;
        text-shadow: 1px 1px gray;
    }

    .home-terapias h4 {
        color: white;
        text-shadow: 1px 1px gray;
    }

    .home-terapias h1 {
        color: white;
        text-shadow: 1px 1px gray;
    }

    .terapia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: solid 2px #BFDDA0;
    }

    .texto-terapia {
        font-size: 20px
    }



    .texto-terapia img {
        height: 40%;
        width: 40%;
        float: left;
        margin-right: 15px;
    }

    #Test img {
        width: 60%;
    }

    .info-footer {
        font-size: 16px;
    }
}

/*pagina Blog*/
.cardBlog {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.blogtitle {
    padding: 30px;
    
}

.blogtitle h1 {
    text-align: center;
    color: #5788A6;
    padding-top: 20px;
}

.babyhead {
    border: 1px solid rgb(214, 212, 212);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.254);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: #5788A6;
}

.babyhead p {
    text-align: justify;
    padding: 10px 0px;
}

.babyhead h3 {
    text-align: center;
}

.babyhead img {
    width: 100%;
}

.blogbtn {
    text-decoration: none;
    border: 1px solid rgb(214, 212, 212);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.254);
    border-radius: 8px;
    background-color: #BAD5E6;
    color: #5788A6;
    padding: 3px 5px;
} 


/*hijos de la pagina blog*/

.blog1 {
    padding: 20px;
    color: #5788A6;
    border-top: 1px solid #36B9CC;
}

.blog1 h2, h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.blog1 p {
    text-align: justify;
    color:#5788A6;
    padding: 15px;
    margin-bottom: 6px;
}

.blog1 img {
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.btnvolver a {
    text-decoration: none;
    color: #5788A6;
    
    
}

.btnvolver {
    border: 1px solid rgb(214, 212, 212);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.254);
    border-radius: 8px;
    background-color: #BAD5E6;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 100px;
}


@media (min-width: 576px) {
    .blog1 img {
        height: 50%;
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    .cardBlog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}




/*pagina Talleres y Cursos*/
.tallertitle {
    text-align: center;
    color: #5788A6;
    padding-top: 20px;
}







